

{% block content %}
{% load static %}
{% csrf_token %}


<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/uploadExcel.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/uploadModal.css' %}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="{% static 'css/tooltips.css' %}" />

{% for item in control_values %}
    <input type="hidden" name="control_master_id_{{ forloop.counter }}" value="{{ item.control_master_id }}">

    {% if item.data_type == 'Dropdown' %}
    <div class="form-group">
        <label>{{ item.control_value }}</label>
        <select class="form-select dynamic-dropdown" name="dropdown_{{ forloop.counter }}" data-index="{{ forloop.counter }}">
            <option value="">Select an option</option>
            {% for subItem in item.sub_controls %}
                {% for value in subItem.sub_control_value_list %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            {% endfor %}
        </select>
        <br/>
        <div class="dynamicInputs" id="dynamicInputs_{{ forloop.counter }}"></div>
    </div>

    {% elif item.data_type == 'Value' %}
    <div class="form-group value-group">
        <label>{{ item.control_value }}</label>
        <div class="d-flex flex-wrap">
            <div class="input-group mt-2 me-2" style="width: 48%;">
                <input type="text" class="form-control new-value-input" name="value_{{ forloop.counter }}[]" placeholder="{{ item.control_value }}">
                <button type="button" class="btn btn-success add-textbox">+</button>
            </div>
        </div>
    </div>
    
    {% elif item.data_type == 'Checkbox' %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox_{{ forloop.counter }}" name="checkbox_{{ forloop.counter }}">
        <label class="form-check-label" for="checkbox_{{ forloop.counter }}">{{ item.control_value }}</label>
    </div>
    
    {% elif item.data_type == 'Textbox' %}
    <div class="form-group">
        <label>{{ item.control_value }}</label>
        <input type="text" class="form-control" name="textbox_{{ forloop.counter }}" placeholder="{{ item.control_value }}">
    </div>
    
    {% endif %}
{% endfor %}



<script>

      $(document).on("click", ".add-textbox", function() {
        debugger;
        var parentGroup = $(this).closest(".value-group").find(".d-flex").first(); // Get the correct container
        var controlValue = $(this).closest(".value-group").find("label").text().trim();
        var fieldName = parentGroup.find(".new-value-input").first().attr("name") || "dynamic_field";
    
        // Ensure count resets properly when dropdown changes
        var currentCount = parentGroup.children(".input-group").length;
    
        var newTextBoxHtml = '<div class="input-group mt-2 me-2" style="width: 48%;">';
        newTextBoxHtml += '<input type="text" class="form-control new-value-input" name="' + fieldName + '" placeholder="' + controlValue + '">';
        newTextBoxHtml += '<button type="button" class="btn btn-danger remove-textbox">X</button>';
        newTextBoxHtml += '</div>';
    
        parentGroup.append(newTextBoxHtml);
    });
    
    $(document).on("click", ".remove-textbox", function() {
        $(this).closest(".input-group").remove();
    });
    
    // Reset inputs when the main dropdown changes
    $(document).on("change", "select", function() { // Works for any dropdown
        $(".value-group .d-flex").each(function() {
            $(this).html($(this).find(".input-group").first()); // Keep only the first input, remove extras
            $(this).data("textbox-count", 1); // Reset count for new selection
        });
    });
    
    
    

</script>

<script>

    $(document).on("change", ".dynamic-dropdown", function () {
        var selectedValue = $(this).val();
        var index = $(this).data("index");
        var dynamicInputsContainer = $("#dynamicInputs_" + index);
    
        $.ajax({
            url: "{% url 'get_sub_item' %}",
            type: "POST",
            data: {
                selected_value: selectedValue,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (response) {
                if (response.result === "success") {
                    debugger;
                    var controlSubId = response.data.control_sub_id;
                    var subControlValues = response.data.sub_control_value_list;
    
                    // Clear previous inputs
                    dynamicInputsContainer.empty();
    
                    // Append hidden field for control_sub_id dynamically
                    dynamicInputsContainer.append(`
                        <input type="hidden" name="control_sub_id_${index}" value="${controlSubId}">
                    `);
    
                    if (response.data.datatype === "Double Textbox") {
                        var subValue1 = subControlValues.length > 0 ? subControlValues[0] : "";
                        var subValue2 = subControlValues.length > 1 ? subControlValues[1] : "";
    
                        dynamicInputsContainer.append(`
                            <div class="d-flex gap-2">
                                <input type="text" class="form-control" name="subvalue_${index}[]" placeholder="Min Value: ${subValue1}">
                                <input type="text" class="form-control" name="subvalue_${index}[]" placeholder="Max Value: ${subValue2}">
                            </div>
                        `);
                    } else if (response.data.datatype === "Textbox") {
                        dynamicInputsContainer.append(`
                            <input type="text" class="form-control mt-2" name="subvalue_${index}[]" placeholder="Enter value">
                        `);
                    }
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    });
    
</script>    

{% endblock %}